/* mobile-first design */

body {
    width: 100vw;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
}

nav {
    background-color: #FAF7E3;
    border-radius: 10vw;
    width: 100vw;
    margin: auto;
    padding: 0;
}

.button {
    display: flex;
    justify-content: center;
    justify-content: space-around;

}

button {
    background-color: #F4E086;
    border: none;
    border-radius: 5vw;
    padding: 0.5vw;
    width: 16vw;
    margin: 5vw 0;
    font-size: 0.5em;
}

button img {
    width: 3vw;
    margin-right: 1vw;
}

.button button:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21vw;
    margin: 5vw 0;
    font-size: 1.25em;
    margin: 2.5vw 0;
}